@model SUADATOS.Cliente

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Home/Index");
    }
}

@section Menu {
    <div>Eliminar Cliente <img src="~/Content/Images/people-b.png" width="15" height="15" /></div>
}

<h3>Confirmación para eliminar el Cliente</h3><div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.claveCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.claveCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.claveSua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.claveSua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rfc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rfc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ejecutivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ejecutivo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-success" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
