@model IEnumerable<SUADATOS.Modulo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Home/Index");
    }
}

@section Menu {
    <div><img src="~/Content/Images/people-b.png" width="15" height="15" />Catalogo de Modulos</div>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descripcionCorta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcionLarga)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcionCorta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcionLarga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaCreacion)
        </td>
    </tr>
}

</table>
