@model IEnumerable<SUADATOS.Usuario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Home/Index");
    }
    var grid = new WebGrid(source: Model, canPage: false); 
}
@section Menu {
    <div>Catalogo de Usuarios <img src="~/Content/Images/people-b.png" width="15" height="15" /></div>
}

@grid.GetHtml(
    columns:
        grid.Columns(
            grid.Column("claveUsuario", "Clave Usuario", null, null, true),
            grid.Column("nombreUsuario", "Nombre", null, null, true),
            grid.Column("apellidoPaterno", "Apellido Paterno", null, null, true),
            grid.Column("apellidoMaterno", "Apellido Materno", null, null, true),
            grid.Column("email", "Email", null, null, true),
            grid.Column("plaza.descripcion", "Plaza", null, null, true),
            grid.Column("role.descripcion", "Perfil", null, null, true),
            grid.Column("fechaIngreso","Fecha Ingreso", @<text><div style='width: 6em'>@item.fechaIngreso.ToString("dd-MM-yyyy")     </div></text>, null,canSort: true),
            grid.Column("estatus", "Estatus", null, null, true),
            grid.Column(header: "Editar", format: @<text><a href="@Url.Action("Edit", "Usuarios", new { id = item.id })">
                    <img src="~/Content/Images/edit.png" alt="" style="border:none;" class="icon" />
                </a></text>),
            grid.Column(header: "Eliminar", format: @<text><a href="@Url.Action("Delete", "Usuarios", new { id = item.id })">
                    <img src="~/Content/Images/delete.png" alt="" style="border:none;" class="icon" />
                </a></text>)),
                                            tableStyle: "table table-striped tableSua"
                            )
<p>
    @Html.ActionLink("Crear Usuario", "Create", "Usuarios", new { @class = "btn btn-success" })
</p>

