@model IEnumerable<SUADATOS.Parametro>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Home/Index");
    }
}

@section Menu {
    <div>Catalogo de Parametros <img src="~/Content/Images/home.png" width="15" height="15" /></div>
}

<p>
    @Html.ActionLink("Crear Parametro", "Create")
</p>
<table class="table table-striped" style="font-size:10px; width:100%;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.parametroId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valorString)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valorMoneda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valorFecha)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.parametroId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valorString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valorMoneda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valorFecha)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
