@model SUADATOS.Funcion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Home/Index");
    }
}

@section Menu {
    <div><img src="~/Content/Images/people-b.png" width="15" height="15" /> Detalle de Funciones</div>
}

  

<div>
    <h4>Funcion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcionCorta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcionCorta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcionLarga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcionLarga)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.accion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.accion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.controlador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.controlador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarioId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarioId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modulo.descripcionCorta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modulo.descripcionCorta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
