@model SUADATOS.Plaza

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Home/Index");
    }
}

@section Menu {
    <div><img src="~/Content/Images/people-b.png" width="15" height="15" /> Detalle de Plaza </div>
}

<div>
    <h4>Plaza</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cvecorta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cvecorta)
        </dd>

       <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
       <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Regresar", "Index")
</p>
